In [2]:
# ----------------------------------------------------prompts-----------------------------------------------
schema_linking_prompt = """Table advisor, columns = [*,s_ID,i_ID]
Table classroom, columns = [*,building,room_number,capacity]
Table course, columns = [*,course_id,title,dept_name,credits]
Table department, columns = [*,dept_name,building,budget]
Table instructor, columns = [*,ID,name,dept_name,salary]
Table prereq, columns = [*,course_id,prereq_id]
Table section, columns = [*,course_id,sec_id,semester,year,building,room_number,time_slot_id]
Table student, columns = [*,ID,name,dept_name,tot_cred]
Table takes, columns = [*,ID,course_id,sec_id,semester,year,grade]
Table teaches, columns = [*,ID,course_id,sec_id,semester,year]
Table time_slot, columns = [*,time_slot_id,day,start_hr,start_min,end_hr,end_min]
Foreign_keys = [course.dept_name = department.dept_name,instructor.dept_name = department.dept_name,section.building = classroom.building,section.room_number = classroom.room_number,section.course_id = course.course_id,teaches.ID = instructor.ID,teaches.course_id = section.course_id,teaches.sec_id = section.sec_id,teaches.semester = section.semester,teaches.year = section.year,student.dept_name = department.dept_name,takes.ID = student.ID,takes.course_id = section.course_id,takes.sec_id = section.sec_id,takes.semester = section.semester,takes.year = section.year,advisor.s_ID = student.ID,advisor.i_ID = instructor.ID,prereq.prereq_id = course.course_id,prereq.course_id = course.course_id]
Q: "Find the buildings which have rooms with capacity more than 50."
A: Let’s think step by step. In the question "Find the buildings which have rooms with capacity more than 50.", we are asked:
"the buildings which have rooms" so we need column = [classroom.capacity]
"rooms with capacity" so we need column = [classroom.building]
Based on the columns and tables, we need these Foreign_keys = [].
Based on the tables, columns, and Foreign_keys, The set of possible cell values are = [50]. So the Schema_links are:
Schema_links: [classroom.building,classroom.capacity,50]

Table department, columns = [*,Department_ID,Name,Creation,Ranking,Budget_in_Billions,Num_Employees]
Table head, columns = [*,head_ID,name,born_state,age]
Table management, columns = [*,department_ID,head_ID,temporary_acting]
Foreign_keys = [management.head_ID = head.head_ID,management.department_ID = department.Department_ID]
Q: "How many heads of the departments are older than 56 ?"
A: Let’s think step by step. In the question "How many heads of the departments are older than 56 ?", we are asked:
"How many heads of the departments" so we need column = [head.*]
"older" so we need column = [head.age]
Based on the columns and tables, we need these Foreign_keys = [].
Based on the tables, columns, and Foreign_keys, The set of possible cell values are = [56]. So the Schema_links are:
Schema_links: [head.*,head.age,56]

Table department, columns = [*,Department_ID,Name,Creation,Ranking,Budget_in_Billions,Num_Employees]
Table head, columns = [*,head_ID,name,born_state,age]
Table management, columns = [*,department_ID,head_ID,temporary_acting]
Foreign_keys = [management.head_ID = head.head_ID,management.department_ID = department.Department_ID]
Q: "what are the distinct creation years of the departments managed by a secretary born in state 'Alabama'?"
A: Let’s think step by step. In the question "what are the distinct creation years of the departments managed by a secretary born in state 'Alabama'?", we are asked:
"distinct creation years of the departments" so we need column = [department.Creation]
"departments managed by" so we need column = [management.department_ID]
"born in" so we need column = [head.born_state]
Based on the columns and tables, we need these Foreign_keys = [department.Department_ID = management.department_ID,management.head_ID = head.head_ID].
Based on the tables, columns, and Foreign_keys, The set of possible cell values are = ['Alabama']. So the Schema_links are:
Schema_links: [department.Creation,department.Department_ID = management.department_ID,head.head_ID = management.head_ID,head.born_state,'Alabama']

Table Addresses, columns = [*,address_id,line_1,line_2,city,zip_postcode,state_province_county,country]
Table Candidate_Assessments, columns = [*,candidate_id,qualification,assessment_date,asessment_outcome_code]
Table Candidates, columns = [*,candidate_id,candidate_details]
Table Courses, columns = [*,course_id,course_name,course_description,other_details]
Table People, columns = [*,person_id,first_name,middle_name,last_name,cell_mobile_number,email_address,login_name,password]
Table People_Addresses, columns = [*,person_address_id,person_id,address_id,date_from,date_to]
Table Student_Course_Attendance, columns = [*,student_id,course_id,date_of_attendance]
Table Student_Course_Registrations, columns = [*,student_id,course_id,registration_date]
Table Students, columns = [*,student_id,student_details]
Foreign_keys = [Students.student_id = People.person_id,People_Addresses.address_id = Addresses.address_id,People_Addresses.person_id = People.person_id,Student_Course_Registrations.course_id = Courses.course_id,Student_Course_Registrations.student_id = Students.student_id,Student_Course_Attendance.student_id = Student_Course_Registrations.student_id,Student_Course_Attendance.course_id = Student_Course_Registrations.course_id,Candidates.candidate_id = People.person_id,Candidate_Assessments.candidate_id = Candidates.candidate_id]
Q: "List the id of students who never attends courses?"
A: Let’s think step by step. In the question "List the id of students who never attends courses?", we are asked:
"id of students" so we need column = [Students.student_id]
"never attends courses" so we need column = [Student_Course_Attendance.student_id]
Based on the columns and tables, we need these Foreign_keys = [Students.student_id = Student_Course_Attendance.student_id].
Based on the tables, columns, and Foreign_keys, The set of possible cell values are = []. So the Schema_links are:
Schema_links: [Students.student_id = Student_Course_Attendance.student_id]

Table Country, columns = [*,id,name]
Table League, columns = [*,id,country_id,name]
Table Player, columns = [*,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight]
Table Player_Attributes, columns = [*,id,player_fifa_api_id,player_api_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,finishing,heading_accuracy,short_passing,volleys,dribbling,curve,free_kick_accuracy,long_passing,ball_control,acceleration,srecord.write_speed,agility,reactions,balance,shot_power,jumping,stamina,strength,long_shots,aggression,interceptions,positioning,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes]
Table Team, columns = [*,id,team_api_id,team_fifa_api_id,team_long_name,team_short_name]
Table Team_Attributes, columns = [*,id,team_fifa_api_id,team_api_id,date,buildUpPlaySpeed,buildUpPlaySpeedClass,buildUpPlayDribbling,buildUpPlayDribblingClass,buildUpPlayPassing,buildUpPlayPassingClass,buildUpPlayPositioningClass,chanceCreationPassing,chanceCreationPassingClass,chanceCreationCrossing,chanceCreationCrossingClass,chanceCreationShooting,chanceCreationShootingClass,chanceCreationPositioningClass,defencePressure,defencePressureClass,defenceAggression,defenceAggressionClass,defenceTeamWidth,defenceTeamWidthClass,defenceDefenderLineClass]
Table sqlite_sequence, columns = [*,name,seq]
Foreign_keys = [Player_Attributes.player_api_id = Player.player_api_id,Player_Attributes.player_fifa_api_id = Player.player_fifa_api_id,League.country_id = Country.id,Team_Attributes.team_api_id = Team.team_api_id,Team_Attributes.team_fifa_api_id = Team.team_fifa_api_id]
Q: "List the names of all left-footed players who have overall rating between 85 and 90."
A: Let’s think step by step. In the question "List the names of all left-footed players who have overall rating between 85 and 90.", we are asked:
"names of all left-footed players" so we need column = [Player.player_name,Player_Attributes.preferred_foot]
"players who have overall rating" so we need column = [Player_Attributes.overall_rating]
Based on the columns and tables, we need these Foreign_keys = [Player_Attributes.player_api_id = Player.player_api_id].
Based on the tables, columns, and Foreign_keys, The set of possible cell values are = [left,85,90]. So the Schema_links are:
Schema_links: [Player.player_name,Player_Attributes.preferred_foot,Player_Attributes.overall_rating,Player_Attributes.player_api_id = Player.player_api_id,left,85,90]

Table advisor, columns = [*,s_ID,i_ID]
Table classroom, columns = [*,building,room_number,capacity]
Table course, columns = [*,course_id,title,dept_name,credits]
Table department, columns = [*,dept_name,building,budget]
Table instructor, columns = [*,ID,name,dept_name,salary]
Table prereq, columns = [*,course_id,prereq_id]
Table section, columns = [*,course_id,sec_id,semester,year,building,room_number,time_slot_id]
Table student, columns = [*,ID,name,dept_name,tot_cred]
Table takes, columns = [*,ID,course_id,sec_id,semester,year,grade]
Table teaches, columns = [*,ID,course_id,sec_id,semester,year]
Table time_slot, columns = [*,time_slot_id,day,start_hr,start_min,end_hr,end_min]
Foreign_keys = [course.dept_name = department.dept_name,instructor.dept_name = department.dept_name,section.building = classroom.building,section.room_number = classroom.room_number,section.course_id = course.course_id,teaches.ID = instructor.ID,teaches.course_id = section.course_id,teaches.sec_id = section.sec_id,teaches.semester = section.semester,teaches.year = section.year,student.dept_name = department.dept_name,takes.ID = student.ID,takes.course_id = section.course_id,takes.sec_id = section.sec_id,takes.semester = section.semester,takes.year = section.year,advisor.s_ID = student.ID,advisor.i_ID = instructor.ID,prereq.prereq_id = course.course_id,prereq.course_id = course.course_id]
Q: "Give the title of the course offered in Chandler during the Fall of 2010."
A: Let’s think step by step. In the question "Give the title of the course offered in Chandler during the Fall of 2010.", we are asked:
"title of the course" so we need column = [course.title]
"course offered in Chandler" so we need column = [SECTION.building]
"during the Fall" so we need column = [SECTION.semester]
"of 2010" so we need column = [SECTION.year]
Based on the columns and tables, we need these Foreign_keys = [course.course_id = SECTION.course_id].
Based on the tables, columns, and Foreign_keys, The set of possible cell values are = [Chandler,Fall,2010]. So the Schema_links are:
Schema_links: [course.title,course.course_id = SECTION.course_id,SECTION.building,SECTION.year,SECTION.semester,Chandler,Fall,2010]

Table city, columns = [*,City_ID,Official_Name,Status,Area_km_2,Population,Census_Ranking]
Table competition_record, columns = [*,Competition_ID,Farm_ID,Rank]
Table farm, columns = [*,Farm_ID,Year,Total_Horses,Working_Horses,Total_Cattle,Oxen,Bulls,Cows,Pigs,Sheep_and_Goats]
Table farm_competition, columns = [*,Competition_ID,Year,Theme,Host_city_ID,Hosts]
Foreign_keys = [farm_competition.Host_city_ID = city.City_ID,competition_record.Farm_ID = farm.Farm_ID,competition_record.Competition_ID = farm_competition.Competition_ID]
Q: "Show the status of the city that has hosted the greatest number of competitions."
A: Let’s think step by step. In the question "Show the status of the city that has hosted the greatest number of competitions.", we are asked:
"the status of the city" so we need column = [city.Status]
"greatest number of competitions" so we need column = [farm_competition.*]
Based on the columns and tables, we need these Foreign_keys = [farm_competition.Host_city_ID = city.City_ID].
Based on the tables, columns, and Foreign_keys, The set of possible cell values are = []. So the Schema_links are:
Schema_links: [city.Status,farm_competition.Host_city_ID = city.City_ID,farm_competition.*]

Table advisor, columns = [*,s_ID,i_ID]
Table classroom, columns = [*,building,room_number,capacity]
Table course, columns = [*,course_id,title,dept_name,credits]
Table department, columns = [*,dept_name,building,budget]
Table instructor, columns = [*,ID,name,dept_name,salary]
Table prereq, columns = [*,course_id,prereq_id]
Table section, columns = [*,course_id,sec_id,semester,year,building,room_number,time_slot_id]
Table student, columns = [*,ID,name,dept_name,tot_cred]
Table takes, columns = [*,ID,course_id,sec_id,semester,year,grade]
Table teaches, columns = [*,ID,course_id,sec_id,semester,year]
Table time_slot, columns = [*,time_slot_id,day,start_hr,start_min,end_hr,end_min]
Foreign_keys = [course.dept_name = department.dept_name,instructor.dept_name = department.dept_name,section.building = classroom.building,section.room_number = classroom.room_number,section.course_id = course.course_id,teaches.ID = instructor.ID,teaches.course_id = section.course_id,teaches.sec_id = section.sec_id,teaches.semester = section.semester,teaches.year = section.year,student.dept_name = department.dept_name,takes.ID = student.ID,takes.course_id = section.course_id,takes.sec_id = section.sec_id,takes.semester = section.semester,takes.year = section.year,advisor.s_ID = student.ID,advisor.i_ID = instructor.ID,prereq.prereq_id = course.course_id,prereq.course_id = course.course_id]
Q: "Find the id of instructors who taught a class in Fall 2009 but not in Spring 2010."
A: Let’s think step by step. In the question "Find the id of instructors who taught a class in Fall 2009 but not in Spring 2010.", we are asked:
"id of instructors who taught " so we need column = [teaches.id]
"taught a class in" so we need column = [teaches.semester,teaches.year]
Based on the columns and tables, we need these Foreign_keys = [].
Based on the tables, columns, and Foreign_keys, The set of possible cell values are = [Fall,2009,Spring,2010]. So the Schema_links are:
schema_links: [teaches.id,teaches.semester,teaches.year,Fall,2009,Spring,2010]

Table Accounts, columns = [*,account_id,customer_id,date_account_opened,account_name,other_account_details]
Table Customers, columns = [*,customer_id,customer_first_name,customer_middle_initial,customer_last_name,gender,email_address,login_name,login_password,phone_number,town_city,state_county_province,country]
Table Financial_Transactions, columns = [*,transaction_id,account_id,invoice_number,transaction_type,transaction_date,transaction_amount,transaction_comment,other_transaction_details]
Table Invoice_Line_Items, columns = [*,order_item_id,invoice_number,product_id,product_title,product_quantity,product_price,derived_product_cost,derived_vat_payable,derived_total_cost]
Table Invoices, columns = [*,invoice_number,order_id,invoice_date]
Table Order_Items, columns = [*,order_item_id,order_id,product_id,product_quantity,other_order_item_details]
Table Orders, columns = [*,order_id,customer_id,date_order_placed,order_details]
Table Product_Categories, columns = [*,production_type_code,product_type_description,vat_rating]
Table Products, columns = [*,product_id,parent_product_id,production_type_code,unit_price,product_name,product_color,product_size]
Foreign_keys = [Orders.customer_id = Customers.customer_id,Invoices.order_id = Orders.order_id,Accounts.customer_id = Customers.customer_id,Products.production_type_code = Product_Categories.production_type_code,Financial_Transactions.account_id = Accounts.account_id,Financial_Transactions.invoice_number = Invoices.invoice_number,Order_Items.order_id = Orders.order_id,Order_Items.product_id = Products.product_id,Invoice_Line_Items.product_id = Products.product_id,Invoice_Line_Items.invoice_number = Invoices.invoice_number,Invoice_Line_Items.order_item_id = Order_Items.order_item_id]
Q: "Show the id, the date of account opened, the account name, and other account detail for all accounts."
A: Let’s think step by step. In the question "Show the id, the date of account opened, the account name, and other account detail for all accounts.", we are asked:
"the id, the date of account opened, the account name, and other account detail for all accounts." so we need column = [Accounts.account_id,Accounts.account_name,Accounts.other_account_details,Accounts.date_account_opened]
Based on the columns and tables, we need these Foreign_keys = [].
Based on the tables, columns, and Foreign_keys, The set of possible cell values are = []. So the Schema_links are:
Schema_links: [Accounts.account_id,Accounts.account_name,Accounts.other_account_details,Accounts.date_account_opened]

Table city, columns = [*,City_ID,Official_Name,Status,Area_km_2,Population,Census_Ranking]
Table competition_record, columns = [*,Competition_ID,Farm_ID,Rank]
Table farm, columns = [*,Farm_ID,Year,Total_Horses,Working_Horses,Total_Cattle,Oxen,Bulls,Cows,Pigs,Sheep_and_Goats]
Table farm_competition, columns = [*,Competition_ID,Year,Theme,Host_city_ID,Hosts]
Foreign_keys = [farm_competition.Host_city_ID = city.City_ID,competition_record.Farm_ID = farm.Farm_ID,competition_record.Competition_ID = farm_competition.Competition_ID]
Q: "Show the status shared by cities with population bigger than 1500 and smaller than 500."
A: Let’s think step by step. In the question "Show the status shared by cities with population bigger than 1500 and smaller than 500.", we are asked:
"the status shared by cities" so we need column = [city.Status]
"cities with population" so we need column = [city.Population]
Based on the columns and tables, we need these Foreign_keys = [].
Based on the tables, columns, and Foreign_keys, The set of possible cell values are = [1500,500]. So the Schema_links are:
Schema_links: [city.Status,city.Population,1500,500]

"""
classification_prompt = """Q: "Find the buildings which have rooms with capacity more than 50."
schema_links: [classroom.building,classroom.capacity,50]
A: Let’s think step by step. The SQL query for the question "Find the buildings which have rooms with capacity more than 50." needs these tables = [classroom], so we don't need JOIN.
Plus, it doesn't require nested queries with (INTERSECT, UNION, EXCEPT, IN, NOT IN), and we need the answer to the questions = [""].
So, we don't need JOIN and don't need nested queries, then the the SQL query can be classified as "EASY".
Label: "EASY"

Q: "What are the names of all instructors who advise students in the math depart sorted by total credits of the student."
schema_links: [advisor.i_id = instructor.id,advisor.s_id = student.id,instructor.name,student.dept_name,student.tot_cred,math]
A: Let’s think step by step. The SQL query for the question "What are the names of all instructors who advise students in the math depart sorted by total credits of the student." needs these tables = [advisor,instructor,student], so we need JOIN.
Plus, it doesn't need nested queries with (INTERSECT, UNION, EXCEPT, IN, NOT IN), and we need the answer to the questions = [""].
So, we need JOIN and don't need nested queries, then the the SQL query can be classified as "NON-NESTED".
Label: "NON-NESTED"

Q: "Find the room number of the rooms which can sit 50 to 100 students and their buildings."
schema_links: [classroom.building,classroom.room_number,classroom.capacity,50,100]
A: Let’s think step by step. The SQL query for the question "Find the room number of the rooms which can sit 50 to 100 students and their buildings." needs these tables = [classroom], so we don't need JOIN.
Plus, it doesn't require nested queries with (INTERSECT, UNION, EXCEPT, IN, NOT IN), and we need the answer to the questions = [""].
So, we don't need JOIN and don't need nested queries, then the the SQL query can be classified as "EASY".
Label: "EASY"

Q: "How many courses that do not have prerequisite?"
schema_links: [course.*,course.course_id = prereq.course_id]
A: Let’s think step by step. The SQL query for the question "How many courses that do not have prerequisite?" needs these tables = [course,prereq], so we need JOIN.
Plus, it requires nested queries with (INTERSECT, UNION, EXCEPT, IN, NOT IN), and we need the answer to the questions = ["Which courses have prerequisite?"].
So, we need JOIN and need nested queries, then the the SQL query can be classified as "NESTED".
Label: "NESTED"

Q: "Find the title of course that is provided by both Statistics and Psychology departments."
schema_links: [course.title,course.dept_name,Statistics,Psychology]
A: Let’s think step by step. The SQL query for the question "Find the title of course that is provided by both Statistics and Psychology departments." needs these tables = [course], so we don't need JOIN.
Plus, it requires nested queries with (INTERSECT, UNION, EXCEPT, IN, NOT IN), and we need the answer to the questions = ["Find the titles of courses that is provided by Psychology departments"].
So, we don't need JOIN and need nested queries, then the the SQL query can be classified as "NESTED".
Label: "NESTED"

Q: "Find the id of instructors who taught a class in Fall 2009 but not in Spring 2010."
schema_links: [teaches.id,teaches.semester,teaches.year,Fall,2009,Spring,2010]
A: Let’s think step by step. The SQL query for the question "Find the id of instructors who taught a class in Fall 2009 but not in Spring 2010." needs these tables = [teaches], so we don't need JOIN.
Plus, it requires nested queries with (INTERSECT, UNION, EXCEPT, IN, NOT IN), and we need the answer to the questions = ["Find the id of instructors who taught a class in Spring 2010"].
So, we don't need JOIN and need nested queries, then the the SQL query can be classified as "NESTED".
Label: "NESTED"

Q: "Find the name of the department that offers the highest total credits?"
schema_links: [course.dept_name,course.credits]
A: Let’s think step by step. The SQL query for the question "Find the name of the department that offers the highest total credits?." needs these tables = [course], so we don't need JOIN.
Plus, it doesn't require nested queries with (INTERSECT, UNION, EXCEPT, IN, NOT IN), and we need the answer to the questions = [""].
So, we don't need JOIN and don't need nested queries, then the the SQL query can be classified as "EASY".
Label: "EASY"

Q: "What is the name of the instructor who advises the student with the greatest number of total credits?"
schema_links: [advisor.i_id = instructor.id,advisor.s_id = student.id,instructor.name,student.tot_cred ]
A: Let’s think step by step. The SQL query for the question "What is the name of the instructor who advises the student with the greatest number of total credits?" needs these tables = [advisor,instructor,student], so we need JOIN.
Plus, it doesn't need nested queries with (INTERSECT, UNION, EXCEPT, IN, NOT IN), and we need the answer to the questions = [""].
So, we need JOIN and don't need nested queries, then the the SQL query can be classified as "NON-NESTED".
Label: "NON-NESTED"

Q: "Find the total number of students and total number of instructors for each department."
schema_links = [department.dept_name = instructor.dept_name,student.id,student.dept_name = department.dept_name,instructor.id]
A: Let’s think step by step. The SQL query for the question "Find the total number of students and total number of instructors for each department." needs these tables = [department,instructor,student], so we need JOIN.
Plus, it doesn't need nested queries with (INTERSECT, UNION, EXCEPT, IN, NOT IN), and we need the answer to the questions = [""].
So, we need JOIN and don't need nested queries, then the the SQL query can be classified as "NON-NESTED".
Label: "NON-NESTED"

Q: "Give the name and building of the departments with greater than average budget."
schema_links: [department.budget,department.dept_name,department.building]
A: Let’s think step by step. The SQL query for the question "Give the name and building of the departments with greater than average budget." needs these tables = [department], so we don't need JOIN.
Plus, it requires nested queries with (INTERSECT, UNION, EXCEPT, IN, NOT IN), and we need the answer to the questions = ["What is the average budget of the departments"].
So, we don't need JOIN and need nested queries, then the the SQL query can be classified as "NESTED".
Label: "NESTED"

"""

new_classification_prompt = """Q: "Find the buildings which have rooms with capacity more than 50."
schema_links: [classroom.building,classroom.capacity,50]
A: Let’s think step by step. The question is "Find the buildings which have [rooms] with capacity more than 50.". [rooms] matches table = [classroom]. So, tables = [classroom] which number of tables = 1, predict EASY or NESTED.
Plus, from question, no sentence matches nested queries with (INTERSECT, UNION, EXCEPT, IN, NOT IN). If nested queries don't exist, predict EASY or NON-NESTED.
So, first step, classification is EASY or NESTED, and second step, classification is EASY or NON-NESTED. Finally, the SQL query can be classified as "EASY".
Label: "EASY"

Q: "What are the names of all instructors who advise students in the math depart sorted by total credits of the student."
schema_links: [advisor.i_id = instructor.id,advisor.s_id = student.id,instructor.name,student.dept_name,student.tot_cred,math]
A: Let’s think step by step. The question is "What are the names of all [instructors] who advise [students] in the math depart sorted by total credits of the student.". [instructors] matches table = [instructor]. [students] matches table = [student]. tables = [instructor, student] are connected by table = [advisor]. So, tables = [instructor, student, advisor] which number of tables >= 1, predict NON-NESTED or NESTED.
Plus, from question, no sentence matches nested queries with (INTERSECT, UNION, EXCEPT, IN, NOT IN). If nested queries don't exist, predict EASY or NON-NESTED.
So, first step, classification is NON-NESTED or NESTED, and second step, classification is EASY or NON-NESTED. Finally, the SQL query can be classified as "NON-NESTED".
Label: "NON-NESTED"

Q: "Find the room number of the rooms which can sit 50 to 100 students and their buildings."
schema_links: [classroom.building,classroom.room_number,classroom.capacity,50,100]
A: Let’s think step by step. The question is "Find the room number of the [rooms] which can sit 50 to 100 students and their buildings." [rooms] matches table = [classroom]. So, tables = [classroom]. If number of tables = 1, predict EASY or NESTED.
Plus, from question, no sentence matches nested queries with (INTERSECT, UNION, EXCEPT, IN, NOT IN). If nested queries don't exist, predict EASY or NON-NESTED.
So, first step, classification is EASY or NESTED, and second step, classification is EASY or NON-NESTED. Finally, the SQL query can be classified as "EASY".
Label: "EASY"

Q: "How many courses that do not have prerequisite?"
schema_links: [course.*,course.course_id = prereq.course_id]
A: Let’s think step by step. The question is "How many [courses] that do not have [prerequisite]?". [courses] matches table = [course]. [prerequisite] matches table = [prereq]. So, tables = [course, prereq]. If number of tables >= 1, predict NON-NESTED or NESTED.
Plus, from question, "Which courses have prerequisite?" matches nested queries with (INTERSECT, UNION, EXCEPT, IN, NOT IN). If nested queries exist, predict NESTED.
So, first step, classification is NON-NESTED or NESTED, and second step, classification is NESTED. Finally, the SQL query can be classified as "NESTED".
Label: "NESTED"

Q: "Find the title of course that is provided by both Statistics and Psychology departments."
schema_links: [course.title,course.dept_name,Statistics,Psychology]
A: Let’s think step by step. The question is "Find the title of [course] that is provided by both Statistics and Psychology departments.". [course] matches table = [course]. So, tables = [course]. If number of tables = 1, predict EASY or NESTED.
Plus, from question, "Find the titles of courses that is provided by Psychology departments" matches nested queries with (INTERSECT, UNION, EXCEPT, IN, NOT IN). If nested queries exist, predict NESTED.
So, first step, classification is EASY or NESTED, and second step, classification is NESTED. Finally, the SQL query can be classified as "NESTED".
Label: "NESTED"

Q: "Find the id of instructors who taught a class in Fall 2009 but not in Spring 2010."
schema_links: [teaches.id,teaches.semester,teaches.year,Fall,2009,Spring,2010]
A: Let’s think step by step. The question is "Find the id of instructors who [taught] a class in Fall 2009 but not in Spring 2010.". [taught] matches table = [teaches]. So, tables = [teaches]. If number of tables = 1, predict EASY or NESTED.
Plus, from question, "Find the id of instructors who taught a class in Spring 2010" matches nested queries with (INTERSECT, UNION, EXCEPT, IN, NOT IN). If nested queries exist, predict NESTED.
So, first step, classification is EASY or NESTED, and second step, classification is NESTED. Finally, the SQL query can be classified as "NESTED".
Label: "NESTED"

Q: "Find the name of the department that offers the highest total credits?"
schema_links: [course.dept_name,course.credits]
A: Let’s think step by step. The question is "Find the name of the [department] that offers the highest total [credits]?." [department, credits] matches tables = [course]. So, tables = [course]. If number of tables = 1, predict EASY or NESTED.
Plus, from question, no sentence matches nested queries with (INTERSECT, UNION, EXCEPT, IN, NOT IN). If nested queries don't exist, predict EASY or NON-NESTED.
So, first step, classification is EASY or NESTED, and second step, classification is EASY or NON-NESTED. Finally, the SQL query can be classified as "EASY".
Label: "EASY"

Q: "What is the name of the instructor who advises the student with the greatest number of total credits?"
schema_links: [advisor.i_id = instructor.id,advisor.s_id = student.id,instructor.name,student.tot_cred ]
A: Let’s think step by step. The question is "What is the name of the [instructor] who advises the [student] with the greatest number of total credits?". [instructors] matches table = [instructor]. [students] matches table = [student]. tables = [instructor, student] are connected by table = [advisor]. So, tables = [instructor, student, advisor]. If number of tables >= 1, predict NON-NESTED or NESTED.
Plus, from question, no sentence matches nested queries with (INTERSECT, UNION, EXCEPT, IN, NOT IN). If nested queries don't exist, predict EASY or NON-NESTED.
So, first step, classification is NON-NESTED or NESTED, and second step, classification is EASY or NON-NESTED. Finally, the SQL query can be classified as "NON-NESTED".
Label: "NON-NESTED"

Q: "Find the total number of students and total number of instructors for each department."
schema_links = [department.dept_name = instructor.dept_name,student.id,student.dept_name = department.dept_name,instructor.id]
A: Let’s think step by step. The question is "Find the total number of [students] and total number of [instructors] for each [department].". [students] matches table = [student]. [instructors] matches [instructor]. [department] matches [department]. So, tables = [student, instructor, department]. If number of tables >= 1, predict NON-NESTED or NESTED.
Plus, from question, no sentence matches nested queries with (INTERSECT, UNION, EXCEPT, IN, NOT IN). If nested queries don't exist, predict EASY or NON-NESTED.
So, first step, classification is NON-NESTED or NESTED, and second step, classification is EASY or NON-NESTED. Finally, the SQL query can be classified as "NON-NESTED".
Label: "NON-NESTED"

Q: "Give the name and building of the departments with greater than average budget."
schema_links: [department.budget,department.dept_name,department.building]
A: Let’s think step by step. The question is "Give the name and building of the [departments] with greater than average budget.". [departments] matches table = [department]. So, tables = [department]. If number of tables = 1, predict EASY or NESTED.
Plus, from question, "What is the average budget of the departments" matchesS nested queries with (INTERSECT, UNION, EXCEPT, IN, NOT IN). If nested queries exist, predict NESTED.
So, first step, classification is EASY or NESTED, and second step, classification is NESTED. Finally, the SQL query can be classified as "NESTED".
Label: "NESTED"

"""

new2_classification_prompt = """Q: "Find the buildings which have rooms with capacity more than 50."
schema_links: [classroom.building,classroom.capacity,50]
A: Let’s think step by step. The question is "Find the buildings which have [rooms] with capacity more than 50.". [rooms] matches table = [classroom]. So, tables = [classroom] which number of tables = 1. So, predict EASY or NESTED.
Plus, from question, no sentence matches nested queries with (INTERSECT, UNION, EXCEPT, IN, NOT IN). So, predict EASY or NON-NESTED.
So, first step, classification is EASY or NESTED, and second step, classification is EASY or NON-NESTED. Finally, the SQL query can be classified as "EASY".
Label: "EASY"

Q: "What are the names of all instructors who advise students in the math depart sorted by total credits of the student."
schema_links: [advisor.i_id = instructor.id,advisor.s_id = student.id,instructor.name,student.dept_name,student.tot_cred,math]
A: Let’s think step by step. The question is "What are the names of all [instructors] who advise [students] in the math depart sorted by total credits of the student.". [instructors] matches table = [instructor]. [students] matches table = [student]. tables = [instructor, student] are connected by table = [advisor]. So, tables = [instructor, student, advisor] which number of tables >= 1. So, predict NON-NESTED or NESTED.
Plus, from question, no sentence matches nested queries with (INTERSECT, UNION, EXCEPT, IN, NOT IN). So, predict EASY or NON-NESTED.
So, first step, classification is NON-NESTED or NESTED, and second step, classification is EASY or NON-NESTED. Finally, the SQL query can be classified as "NON-NESTED".
Label: "NON-NESTED"

Q: "Find the room number of the rooms which can sit 50 to 100 students and their buildings."
schema_links: [classroom.building,classroom.room_number,classroom.capacity,50,100]
A: Let’s think step by step. The question is "Find the room number of the [rooms] which can sit 50 to 100 students and their buildings." [rooms] matches table = [classroom]. So, tables = [classroom] which number of tables = 1. So, predict EASY or NESTED.
Plus, from question, no sentence matches nested queries with (INTERSECT, UNION, EXCEPT, IN, NOT IN). So, predict EASY or NON-NESTED.
So, first step, classification is EASY or NESTED, and second step, classification is EASY or NON-NESTED. Finally, the SQL query can be classified as "EASY".
Label: "EASY"

Q: "How many courses that do not have prerequisite?"
schema_links: [course.*,course.course_id = prereq.course_id]
A: Let’s think step by step. The question is "How many [courses] that do not have [prerequisite]?". [courses] matches table = [course]. [prerequisite] matches table = [prereq]. So, tables = [course, prereq] which number of tables >= 1. So, predict NON-NESTED or NESTED.
Plus, from question, "Which courses have prerequisite?" matches nested queries with (INTERSECT, UNION, EXCEPT, IN, NOT IN). So, predict NESTED.
So, first step, classification is NON-NESTED or NESTED, and second step, classification is NESTED. Finally, the SQL query can be classified as "NESTED".
Label: "NESTED"

Q: "Find the title of course that is provided by both Statistics and Psychology departments."
schema_links: [course.title,course.dept_name,Statistics,Psychology]
A: Let’s think step by step. The question is "Find the title of [course] that is provided by both Statistics and Psychology departments.". [course] matches table = [course]. So, tables = [course] which number of tables = 1. So, predict EASY or NESTED.
Plus, from question, "Find the titles of courses that is provided by Psychology departments" matches nested queries with (INTERSECT, UNION, EXCEPT, IN, NOT IN). So, predict NESTED.
So, first step, classification is EASY or NESTED, and second step, classification is NESTED. Finally, the SQL query can be classified as "NESTED".
Label: "NESTED"

Q: "Find the id of instructors who taught a class in Fall 2009 but not in Spring 2010."
schema_links: [teaches.id,teaches.semester,teaches.year,Fall,2009,Spring,2010]
A: Let’s think step by step. The question is "Find the id of instructors who [taught] a class in Fall 2009 but not in Spring 2010.". [taught] matches table = [teaches]. So, tables = [teaches] which number of tables = 1. So, predict EASY or NESTED.
Plus, from question, "Find the id of instructors who taught a class in Spring 2010" matches nested queries with (INTERSECT, UNION, EXCEPT, IN, NOT IN). So, predict NESTED.
So, first step, classification is EASY or NESTED, and second step, classification is NESTED. Finally, the SQL query can be classified as "NESTED".
Label: "NESTED"

Q: "Find the name of the department that offers the highest total credits?"
schema_links: [course.dept_name,course.credits]
A: Let’s think step by step. The question is "Find the name of the [department] that offers the highest total [credits]?." [department, credits] matches tables = [course]. So, tables = [course] which number of tables = 1. So, predict EASY or NESTED.
Plus, from question, no sentence matches nested queries with (INTERSECT, UNION, EXCEPT, IN, NOT IN). So, predict EASY or NON-NESTED.
So, first step, classification is EASY or NESTED, and second step, classification is EASY or NON-NESTED. Finally, the SQL query can be classified as "EASY".
Label: "EASY"

Q: "What is the name of the instructor who advises the student with the greatest number of total credits?"
schema_links: [advisor.i_id = instructor.id,advisor.s_id = student.id,instructor.name,student.tot_cred ]
A: Let’s think step by step. The question is "What is the name of the [instructor] who advises the [student] with the greatest number of total credits?". [instructors] matches table = [instructor]. [students] matches table = [student]. tables = [instructor, student] are connected by table = [advisor]. So, tables = [instructor, student, advisor] which number of tables >= 1. So, predict NON-NESTED or NESTED.
Plus, from question, no sentence matches nested queries with (INTERSECT, UNION, EXCEPT, IN, NOT IN). So, predict EASY or NON-NESTED.
So, first step, classification is NON-NESTED or NESTED, and second step, classification is EASY or NON-NESTED. Finally, the SQL query can be classified as "NON-NESTED".
Label: "NON-NESTED"

Q: "Find the total number of students and total number of instructors for each department."
schema_links = [department.dept_name = instructor.dept_name,student.id,student.dept_name = department.dept_name,instructor.id]
A: Let’s think step by step. The question is "Find the total number of [students] and total number of [instructors] for each [department].". [students] matches table = [student]. [instructors] matches [instructor]. [department] matches [department]. So, tables = [student, instructor, department] which number of tables >= 1. So, predict NON-NESTED or NESTED.
Plus, from question, no sentence matches nested queries with (INTERSECT, UNION, EXCEPT, IN, NOT IN). So, predict EASY or NON-NESTED.
So, first step, classification is NON-NESTED or NESTED, and second step, classification is EASY or NON-NESTED. Finally, the SQL query can be classified as "NON-NESTED".
Label: "NON-NESTED"

Q: "Give the name and building of the departments with greater than average budget."
schema_links: [department.budget,department.dept_name,department.building]
A: Let’s think step by step. The question is "Give the name and building of the [departments] with greater than average budget.". [departments] matches table = [department]. So, tables = [department] which number of tables = 1. So, predict EASY or NESTED.
Plus, from question, "What is the average budget of the departments" matchesS nested queries with (INTERSECT, UNION, EXCEPT, IN, NOT IN). So, predict NESTED.
So, first step, classification is EASY or NESTED, and second step, classification is NESTED. Finally, the SQL query can be classified as "NESTED".
Label: "NESTED"

"""

new3_classification_prompt = """Q: "Find the buildings which have rooms with capacity more than 50."
schema_links: [classroom.building,classroom.capacity,50]
A: Let’s think step by step. The question is "Find the buildings which have [rooms] with capacity more than 50.". [rooms] matches table = [classroom]. So, tables = [classroom] which number of tables = 1. So, the SQL query can be classified as "EASY".
Label: "EASY"

Q: "What are the names of all instructors who advise students in the math depart sorted by total credits of the student."
schema_links: [advisor.i_id = instructor.id,advisor.s_id = student.id,instructor.name,student.dept_name,student.tot_cred,math]
A: Let’s think step by step. The question is "What are the names of all [instructors] who advise [students] in the math depart sorted by total credits of the student.". [instructors] matches table = [instructor]. [students] matches table = [student]. tables = [instructor, student] are connected by table = [advisor]. So, tables = [instructor, student, advisor] which number of tables >= 1. So, the SQL query can be classified as "COMPLEX".
Label: "COMPLEX"

Q: "Find the room number of the rooms which can sit 50 to 100 students and their buildings."
schema_links: [classroom.building,classroom.room_number,classroom.capacity,50,100]
A: Let’s think step by step. The question is "Find the room number of the [rooms] which can sit 50 to 100 students and their buildings." [rooms] matches table = [classroom]. So, tables = [classroom] which number of tables = 1. So, the SQL query can be classified as "EASY".
Label: "EASY"

Q: "How many courses that do not have prerequisite?"
schema_links: [course.*,course.course_id = prereq.course_id]
A: Let’s think step by step. The question is "How many [courses] that do not have [prerequisite]?". [courses] matches table = [course]. [prerequisite] matches table = [prereq]. So, tables = [course, prereq] which number of tables >= 1. So, the SQL query can be classified as "COMPLEX".
Label: "COMPLEX"

Q: "Find the title of course that is provided by both Statistics and Psychology departments."
schema_links: [course.title,course.dept_name,Statistics,Psychology]
A: Let’s think step by step. The question is "Find the title of [course] that is provided by both Statistics and Psychology departments.". [course] matches table = [course]. So, tables = [course] which number of tables = 1. So, the SQL query can be classified as "EASY".
Label: "EASY"

Q: "Find the id of instructors who taught a class in Fall 2009 but not in Spring 2010."
schema_links: [teaches.id,teaches.semester,teaches.year,Fall,2009,Spring,2010]
A: Let’s think step by step. The question is "Find the id of instructors who [taught] a class in Fall 2009 but not in Spring 2010.". [taught] matches table = [teaches]. So, tables = [teaches] which number of tables = 1. So, the SQL query can be classified as "EASY".
Label: "EASY"

Q: "Find the name of the department that offers the highest total credits?"
schema_links: [course.dept_name,course.credits]
A: Let’s think step by step. The question is "Find the name of the [department] that offers the highest total [credits]?." [department, credits] matches tables = [course]. So, tables = [course] which number of tables = 1. So, the SQL query can be classified as "EASY".
Label: "EASY"

Q: "What is the name of the instructor who advises the student with the greatest number of total credits?"
schema_links: [advisor.i_id = instructor.id,advisor.s_id = student.id,instructor.name,student.tot_cred ]
A: Let’s think step by step. The question is "What is the name of the [instructor] who advises the [student] with the greatest number of total credits?". [instructors] matches table = [instructor]. [students] matches table = [student]. tables = [instructor, student] are connected by table = [advisor]. So, tables = [instructor, student, advisor] which number of tables >= 1. So, the SQL query can be classified as "COMPLEX".
Label: "COMPLEX"

Q: "Find the total number of students and total number of instructors for each department."
schema_links = [department.dept_name = instructor.dept_name,student.id,student.dept_name = department.dept_name,instructor.id]
A: Let’s think step by step. The question is "Find the total number of [students] and total number of [instructors] for each [department].". [students] matches table = [student]. [instructors] matches [instructor]. [department] matches [department]. So, tables = [student, instructor, department] which number of tables >= 1. So, the SQL query can be classified as "COMPLEX".
Label: "COMPLEX"

Q: "Give the name and building of the departments with greater than average budget."
schema_links: [department.budget,department.dept_name,department.building]
A: Let’s think step by step. The question is "Give the name and building of the [departments] with greater than average budget.". [departments] matches table = [department]. So, tables = [department] which number of tables = 1. So, the SQL query can be classified as "EASY".
Label: "EASY"

"""

get_n_of_tables_prompt = """Q: "Find the buildings which have rooms with capacity more than 50."
schema_links: [classroom.building,classroom.capacity,50]
A: Let’s think step by step. The question is "Find the buildings which have [rooms] with capacity more than 50.". [rooms] matches table = [classroom]. So, tables = [classroom]. If number of tables = 1, predict EASY or NESTED.
Plus, from question, no sentence matches nested queries with (INTERSECT, UNION, EXCEPT, IN, NOT IN). If nested queries don't exist, predict EASY or NON-NESTED.
So, first step, classification is EASY or NESTED, and second step, classification is EASY or NON-NESTED. Finally, the SQL query can be classified as "EASY".
Label: "EASY"

Q: "What are the names of all instructors who advise students in the math depart sorted by total credits of the student."
schema_links: [advisor.i_id = instructor.id,advisor.s_id = student.id,instructor.name,student.dept_name,student.tot_cred,math]
A: Let’s think step by step. The question is "What are the names of all [instructors] who advise [students] in the math depart sorted by total credits of the student.". [instructors] matches table = [instructor]. [students] matches table = [student]. tables = [instructor, student] are connected by table = [advisor]. So, tables = [instructor, student, advisor]. If number of tables >= 1, predict NON-NESTED or NESTED.
Plus, from question, no sentence matches nested queries with (INTERSECT, UNION, EXCEPT, IN, NOT IN). If nested queries don't exist, predict EASY or NON-NESTED.
So, first step, classification is NON-NESTED or NESTED, and second step, classification is EASY or NON-NESTED. Finally, the SQL query can be classified as "NON-NESTED".
Label: "NON-NESTED"

Q: "Find the room number of the rooms which can sit 50 to 100 students and their buildings."
schema_links: [classroom.building,classroom.room_number,classroom.capacity,50,100]
A: Let’s think step by step. The question is "Find the room number of the [rooms] which can sit 50 to 100 students and their buildings." [rooms] matches table = [classroom]. So, tables = [classroom]. If number of tables = 1, predict EASY or NESTED.
Plus, from question, no sentence matches nested queries with (INTERSECT, UNION, EXCEPT, IN, NOT IN). If nested queries don't exist, predict EASY or NON-NESTED.
So, first step, classification is EASY or NESTED, and second step, classification is EASY or NON-NESTED. Finally, the SQL query can be classified as "EASY".
Label: "EASY"

Q: "How many courses that do not have prerequisite?"
schema_links: [course.*,course.course_id = prereq.course_id]
A: Let’s think step by step. The question is "How many [courses] that do not have [prerequisite]?". [courses] matches table = [course]. [prerequisite] matches table = [prereq]. So, tables = [course, prereq]. If number of tables >= 1, predict NON-NESTED or NESTED.
Plus, from question, "Which courses have prerequisite?" matches nested queries with (INTERSECT, UNION, EXCEPT, IN, NOT IN). If nested queries exist, predict NESTED.
So, first step, classification is NON-NESTED or NESTED, and second step, classification is NESTED. Finally, the SQL query can be classified as "NESTED".
Label: "NESTED"

Q: "Find the title of course that is provided by both Statistics and Psychology departments."
schema_links: [course.title,course.dept_name,Statistics,Psychology]
A: Let’s think step by step. The question is "Find the title of [course] that is provided by both Statistics and Psychology departments.". [course] matches table = [course]. So, tables = [course]. If number of tables = 1, predict EASY or NESTED.
Plus, from question, "Find the titles of courses that is provided by Psychology departments" matches nested queries with (INTERSECT, UNION, EXCEPT, IN, NOT IN). If nested queries exist, predict NESTED.
So, first step, classification is EASY or NESTED, and second step, classification is NESTED. Finally, the SQL query can be classified as "NESTED".
Label: "NESTED"

Q: "Find the id of instructors who taught a class in Fall 2009 but not in Spring 2010."
schema_links: [teaches.id,teaches.semester,teaches.year,Fall,2009,Spring,2010]
A: Let’s think step by step. The question is "Find the id of instructors who [taught] a class in Fall 2009 but not in Spring 2010.". [taught] matches table = [teaches]. So, tables = [teaches]. If number of tables = 1, predict EASY or NESTED.
Plus, from question, "Find the id of instructors who taught a class in Spring 2010" matches nested queries with (INTERSECT, UNION, EXCEPT, IN, NOT IN). If nested queries exist, predict NESTED.
So, first step, classification is EASY or NESTED, and second step, classification is NESTED. Finally, the SQL query can be classified as "NESTED".
Label: "NESTED"

Q: "Find the name of the department that offers the highest total credits?"
schema_links: [course.dept_name,course.credits]
A: Let’s think step by step. The question is "Find the name of the [department] that offers the highest total [credits]?." [department, credits] matches tables = [course]. So, tables = [course]. If number of tables = 1, predict EASY or NESTED.
Plus, from question, no sentence matches nested queries with (INTERSECT, UNION, EXCEPT, IN, NOT IN). If nested queries don't exist, predict EASY or NON-NESTED.
So, first step, classification is EASY or NESTED, and second step, classification is EASY or NON-NESTED. Finally, the SQL query can be classified as "EASY".
Label: "EASY"

Q: "What is the name of the instructor who advises the student with the greatest number of total credits?"
schema_links: [advisor.i_id = instructor.id,advisor.s_id = student.id,instructor.name,student.tot_cred ]
A: Let’s think step by step. The question is "What is the name of the [instructor] who advises the [student] with the greatest number of total credits?". [instructors] matches table = [instructor]. [students] matches table = [student]. tables = [instructor, student] are connected by table = [advisor]. So, tables = [instructor, student, advisor]. If number of tables >= 1, predict NON-NESTED or NESTED.
Plus, from question, no sentence matches nested queries with (INTERSECT, UNION, EXCEPT, IN, NOT IN). If nested queries don't exist, predict EASY or NON-NESTED.
So, first step, classification is NON-NESTED or NESTED, and second step, classification is EASY or NON-NESTED. Finally, the SQL query can be classified as "NON-NESTED".
Label: "NON-NESTED"

Q: "Find the total number of students and total number of instructors for each department."
schema_links = [department.dept_name = instructor.dept_name,student.id,student.dept_name = department.dept_name,instructor.id]
A: Let’s think step by step. The question is "Find the total number of [students] and total number of [instructors] for each [department].". [students] matches table = [student]. [instructors] matches [instructor]. [department] matches [department]. So, tables = [student, instructor, department]. If number of tables >= 1, predict NON-NESTED or NESTED.
Plus, from question, no sentence matches nested queries with (INTERSECT, UNION, EXCEPT, IN, NOT IN). If nested queries don't exist, predict EASY or NON-NESTED.
So, first step, classification is NON-NESTED or NESTED, and second step, classification is EASY or NON-NESTED. Finally, the SQL query can be classified as "NON-NESTED".
Label: "NON-NESTED"

Q: "Give the name and building of the departments with greater than average budget."
schema_links: [department.budget,department.dept_name,department.building]
A: Let’s think step by step. The question is "Give the name and building of the [departments] with greater than average budget.". [departments] matches table = [department]. So, tables = [department]. If number of tables = 1, predict EASY or NESTED.
Plus, from question, "What is the average budget of the departments" matchesS nested queries with (INTERSECT, UNION, EXCEPT, IN, NOT IN). If nested queries exist, predict NESTED.
So, first step, classification is EASY or NESTED, and second step, classification is NESTED. Finally, the SQL query can be classified as "NESTED".
Label: "NESTED"

"""


easy_prompt = """Q: "Find the buildings which have rooms with capacity more than 50."
Schema_links: [classroom.building,classroom.capacity,50]
SQL: SELECT DISTINCT building FROM classroom WHERE capacity  >  50

Q: "Find the room number of the rooms which can sit 50 to 100 students and their buildings."
Schema_links: [classroom.building,classroom.room_number,classroom.capacity,50,100]
SQL: SELECT building ,  room_number FROM classroom WHERE capacity BETWEEN 50 AND 100

Q: "Give the name of the student in the History department with the most credits."
Schema_links: [student.name,student.dept_name,student.tot_cred,History]
SQL: SELECT name FROM student WHERE dept_name  =  'History' ORDER BY tot_cred DESC LIMIT 1

Q: "Find the total budgets of the Marketing or Finance department."
Schema_links: [department.budget,department.dept_name,Marketing,Finance]
SQL: SELECT sum(budget) FROM department WHERE dept_name  =  'Marketing' OR dept_name  =  'Finance'

Q: "Find the department name of the instructor whose name contains 'Soisalon'."
Schema_links: [instructor.dept_name,instructor.name,Soisalon]
SQL: SELECT dept_name FROM instructor WHERE name LIKE '%Soisalon%'

Q: "What is the name of the department with the most credits?"
Schema_links: [course.dept_name,course.credits]
SQL: SELECT dept_name FROM course GROUP BY dept_name ORDER BY sum(credits) DESC LIMIT 1

Q: "How many instructors teach a course in the Spring of 2010?"
Schema_links: [teaches.ID,teaches.semester,teaches.YEAR,Spring,2010]
SQL: SELECT COUNT (DISTINCT ID) FROM teaches WHERE semester  =  'Spring' AND YEAR  =  2010

Q: "Find the name of the students and their department names sorted by their total credits in ascending order."
Schema_links: [student.name,student.dept_name,student.tot_cred]
SQL: SELECT name ,  dept_name FROM student ORDER BY tot_cred

Q: "Find the year which offers the largest number of courses."
Schema_links: [SECTION.YEAR,SECTION.*]
SQL: SELECT YEAR FROM SECTION GROUP BY YEAR ORDER BY count(*) DESC LIMIT 1

Q: "What are the names and average salaries for departments with average salary higher than 42000?"
Schema_links: [instructor.dept_name,instructor.salary,42000]
SQL: SELECT dept_name ,  AVG (salary) FROM instructor GROUP BY dept_name HAVING AVG (salary)  >  42000

Q: "How many rooms in each building have a capacity of over 50?"
Schema_links: [classroom.*,classroom.building,classroom.capacity,50]
SQL: SELECT count(*) ,  building FROM classroom WHERE capacity  >  50 GROUP BY building

Q: "Find the names of the top 3 departments that provide the largest amount of courses?"
Schema_links: [course.dept_name,course.*]
SQL: SELECT dept_name FROM course GROUP BY dept_name ORDER BY count(*) DESC LIMIT 3

Q: "Find the maximum and average capacity among rooms in each building."
Schema_links: [classroom.building,classroom.capacity]
SQL: SELECT max(capacity) ,  avg(capacity) ,  building FROM classroom GROUP BY building

Q: "Find the title of the course that is offered by more than one department."
Schema_links: [course.title]
SQL: SELECT title FROM course GROUP BY title HAVING count(*)  >  1

"""
medium_prompt = """Q: "Find the total budgets of the Marketing or Finance department."
Schema_links: [department.budget,department.dept_name,Marketing,Finance]
A: Let’s think step by step. For creating the SQL for the given question, we need to join these tables = []. First, create an intermediate representation, then use it to construct the SQL query.
Intermediate_representation: select sum(department.budget) from department  where  department.dept_name = \"Marketing\"  or  department.dept_name = \"Finance\"
SQL: SELECT sum(budget) FROM department WHERE dept_name  =  'Marketing' OR dept_name  =  'Finance'

Q: "Find the name and building of the department with the highest budget."
Schema_links: [department.budget,department.dept_name,department.building]
A: Let’s think step by step. For creating the SQL for the given question, we need to join these tables = []. First, create an intermediate representation, then use it to construct the SQL query.
Intermediate_representation: select department.dept_name , department.building from department  order by department.budget desc limit 1
SQL: SELECT dept_name ,  building FROM department ORDER BY budget DESC LIMIT 1

Q: "What is the name and building of the departments whose budget is more than the average budget?"
Schema_links: [department.budget,department.dept_name,department.building]
A: Let’s think step by step. For creating the SQL for the given question, we need to join these tables = []. First, create an intermediate representation, then use it to construct the SQL query.
Intermediate_representation:  select department.dept_name , department.building from department  where  @.@ > avg ( department.budget ) 
SQL: SELECT dept_name ,  building FROM department WHERE budget  >  (SELECT avg(budget) FROM department)

Q: "Find the total number of students and total number of instructors for each department."
Schema_links: [department.dept_name = student.dept_name,student.id,department.dept_name = instructor.dept_name,instructor.id]
A: Let’s think step by step. For creating the SQL for the given question, we need to join these tables = [department,student,instructor]. First, create an intermediate representation, then use it to construct the SQL query.
Intermediate_representation: "select count( distinct student.ID) , count( distinct instructor.ID) , department.dept_name from department  group by instructor.dept_name
SQL: SELECT count(DISTINCT T2.id) ,  count(DISTINCT T3.id) ,  T3.dept_name FROM department AS T1 JOIN student AS T2 ON T1.dept_name  =  T2.dept_name JOIN instructor AS T3 ON T1.dept_name  =  T3.dept_name GROUP BY T3.dept_name

Q: "Find the title of courses that have two prerequisites?"
Schema_links: [course.title,course.course_id = prereq.course_id]
A: Let’s think step by step. For creating the SQL for the given question, we need to join these tables = [course,prereq]. First, create an intermediate representation, then use it to construct the SQL query.
Intermediate_representation: select course.title from course  where  count ( prereq.* )  = 2  group by prereq.course_id
SQL: SELECT T1.title FROM course AS T1 JOIN prereq AS T2 ON T1.course_id  =  T2.course_id GROUP BY T2.course_id HAVING count(*)  =  2

Q: "Find the name of students who took any class in the years of 2009 and 2010."
Schema_links: [student.name,student.id = takes.id,takes.YEAR,2009,2010]
A: Let’s think step by step. For creating the SQL for the given question, we need to join these tables = [student,takes]. First, create an intermediate representation, then use it to construct the SQL query.
Intermediate_representation: select  distinct student.name from student  where  takes.year = 2009  or  takes.year = 2010
SQL: SELECT DISTINCT T1.name FROM student AS T1 JOIN takes AS T2 ON T1.id  =  T2.id WHERE T2.YEAR  =  2009 OR T2.YEAR  =  2010

Q: "list in alphabetic order all course names and their instructors' names in year 2008."
Schema_links: [course.title,course.course_id = teaches.course_id,teaches.id = instructor.id,instructor.name,teaches.year,2008]
A: Let’s think step by step. For creating the SQL for the given question, we need to join these tables = [course,teaches,instructor]. First, create an intermediate representation, then use it to construct the SQL query.
Intermediate_representation: select course.title , instructor.name from course  where  teaches.year = 2008  order by course.title asc
SQL: SELECT T1.title ,  T3.name FROM course AS T1 JOIN teaches AS T2 ON T1.course_id  =  T2.course_id JOIN instructor AS T3 ON T2.id  =  T3.id WHERE T2.YEAR  =  2008 ORDER BY T1.title

"""
hard_prompt = """Q: "Find the title of courses that have two prerequisites?"
Schema_links: [course.title,course.course_id = prereq.course_id]
A: Let's think step by step. "Find the title of courses that have two prerequisites?" can be solved by knowing the answer to the following sub-question "What are the titles for courses with two prerequisites?".
The SQL query for the sub-question "What are the titles for courses with two prerequisites?" is SELECT T1.title FROM course AS T1 JOIN prereq AS T2 ON T1.course_id  =  T2.course_id GROUP BY T2.course_id HAVING count(*)  =  2
So, the answer to the question "Find the title of courses that have two prerequisites?" is =
Intermediate_representation: select course.title from course  where  count ( prereq.* )  = 2  group by prereq.course_id
SQL: SELECT T1.title FROM course AS T1 JOIN prereq AS T2 ON T1.course_id  =  T2.course_id GROUP BY T2.course_id HAVING count(*)  =  2

Q: "Find the name and building of the department with the highest budget."
Schema_links: [department.dept_name,department.building,department.budget]
A: Let's think step by step. "Find the name and building of the department with the highest budget." can be solved by knowing the answer to the following sub-question "What is the department name and corresponding building for the department with the greatest budget?".
The SQL query for the sub-question "What is the department name and corresponding building for the department with the greatest budget?" is SELECT dept_name ,  building FROM department ORDER BY budget DESC LIMIT 1
So, the answer to the question "Find the name and building of the department with the highest budget." is =
Intermediate_representation: select department.dept_name , department.building from department  order by department.budget desc limit 1
SQL: SELECT dept_name ,  building FROM department ORDER BY budget DESC LIMIT 1

Q: "Find the title, credit, and department name of courses that have more than one prerequisites?"
Schema_links: [course.title,course.credits,course.dept_name,course.course_id = prereq.course_id]
A: Let's think step by step. "Find the title, credit, and department name of courses that have more than one prerequisites?" can be solved by knowing the answer to the following sub-question "What is the title, credit value, and department name for courses with more than one prerequisite?".
The SQL query for the sub-question "What is the title, credit value, and department name for courses with more than one prerequisite?" is SELECT T1.title ,  T1.credits , T1.dept_name FROM course AS T1 JOIN prereq AS T2 ON T1.course_id  =  T2.course_id GROUP BY T2.course_id HAVING count(*)  >  1
So, the answer to the question "Find the name and building of the department with the highest budget." is =
Intermediate_representation: select course.title , course.credits , course.dept_name from course  where  count ( prereq.* )  > 1  group by prereq.course_id 
SQL: SELECT T1.title ,  T1.credits , T1.dept_name FROM course AS T1 JOIN prereq AS T2 ON T1.course_id  =  T2.course_id GROUP BY T2.course_id HAVING count(*)  >  1

Q: "Give the name and building of the departments with greater than average budget."
Schema_links: [department.dept_name,department.building,department.budget]
A: Let's think step by step. "Give the name and building of the departments with greater than average budget." can be solved by knowing the answer to the following sub-question "What is the average budget of departments?".
The SQL query for the sub-question "What is the average budget of departments?" is SELECT avg(budget) FROM department
So, the answer to the question "Give the name and building of the departments with greater than average budget." is =
Intermediate_representation: select department.dept_name , department.building from department  where  @.@ > avg ( department.budget )
SQL: SELECT dept_name ,  building FROM department WHERE budget  >  (SELECT avg(budget) FROM department)

Q: "Find the id of instructors who taught a class in Fall 2009 but not in Spring 2010."
Schema_links: [teaches.id,teaches.semester,teaches.YEAR,Fall,2009,Spring,2010]
A: Let's think step by step. "Find the id of instructors who taught a class in Fall 2009 but not in Spring 2010." can be solved by knowing the answer to the following sub-question "Find the id of instructors who taught a class in Spring 2010".
The SQL query for the sub-question "Find the id of instructors who taught a class in Spring 2010" is SELECT id FROM teaches WHERE semester  =  'Spring' AND YEAR  =  2010
So, the answer to the question "Find the id of instructors who taught a class in Fall 2009 but not in Spring 2010." is = 
Intermediate_representation: select teaches.ID from teaches  where  teaches.semester = \"Fall\"  and  teaches.year = 2009  and  teaches.semester != \"Spring\"  and  teaches.year = 2010 
SQL: SELECT id FROM teaches WHERE semester  =  'Fall' AND YEAR  =  2009 EXCEPT SELECT id FROM teaches WHERE semester  =  'Spring' AND YEAR  =  2010

Q: "Find the name of the courses that do not have any prerequisite?"
Schema_links: [course.title,course.course_id]
A: Let's think step by step. "Find the name of the courses that do not have any prerequisite?" can be solved by knowing the answer to the following sub-question "What are the courses that have any prerequisite?".
The SQL query for the sub-question "What are the courses that have any prerequisite?" is SELECT course_id FROM prereq
So, the answer to the question "Find the name of the courses that do not have any prerequisite?" is =
Intermediate_representation: select course.title from course  where  @.@ not in prereq.course_id 
SQL: SELECT title FROM course WHERE course_id NOT IN (SELECT course_id FROM prereq)

Q: "Find the salaries of all distinct instructors that are less than the largest salary."
Schema_links: [instructor.salary]
A: Let's think step by step. "Find the salaries of all distinct instructors that are less than the largest salary." can be solved by knowing the answer to the following sub-question "What is the largest salary of instructors".
The SQL query for the sub-question "What is the largest salary of instructors" is SELECT max(salary) FROM instructor
So, the answer to the question "Find the salaries of all distinct instructors that are less than the largest salary." is =
Intermediate_representation: select  distinct instructor.salary from instructor  where  @.@ < max ( instructor.salary )
SQL: SELECT DISTINCT salary FROM instructor WHERE salary  <  (SELECT max(salary) FROM instructor)

Q: "Find the names of students who have taken any course in the fall semester of year 2003."
Schema_links: [student.id,student.name,takes.id,takes.semester,fall,2003]
A: Let's think step by step. "Find the names of students who have taken any course in the fall semester of year 2003." can be solved by knowing the answer to the following sub-question "Find the students who have taken any course in the fall semester of year 2003.".
The SQL query for the sub-question "Find the students who have taken any course in the fall semester of year 2003." is SELECT id FROM takes WHERE semester  =  'Fall' AND YEAR  =  2003
So, the answer to the question "Find the names of students who have taken any course in the fall semester of year 2003." is =
Intermediate_representation: select student.name from student  where  takes.semester = \"Fall\"  and  takes.year = 2003
SQL: SELECT name FROM student WHERE id IN (SELECT id FROM takes WHERE semester  =  'Fall' AND YEAR  =  2003)

Q: "Find the minimum salary for the departments whose average salary is above the average payment of all instructors."
Schema_links: [instructor.salary,instructor.dept_name]
A: Let's think step by step. "Find the minimum salary for the departments whose average salary is above the average payment of all instructors." can be solved by knowing the answer to the following sub-question "What is the average payment of all instructors.".
The SQL query for the sub-question "What is the average payment of all instructors." is SELECT avg(salary) FROM instructor
So, the answer to the question "Find the minimum salary for the departments whose average salary is above the average payment of all instructors." is =
Intermediate_representation: select min(instructor.salary) , instructor.dept_name from instructor  where  avg ( instructor.salary )  > avg ( instructor.salary )   group by instructor.dept_name
SQL: SELECT min(salary) ,  dept_name FROM instructor GROUP BY dept_name HAVING avg(salary)  >  (SELECT avg(salary) FROM instructor)

Q: "What is the course title of the prerequisite of course Mobile Computing?"
Schema_links: [course.title,course.course_id = prereq.course_id,prereq.prereq_id,course.title,Mobile Computing]
A: Let's think step by step. "What is the course title of the prerequisite of course Mobile Computing?" can be solved by knowing the answer to the following sub-question "What are the ids of the prerequisite of course Mobile Computing?".
The SQL query for the sub-question "What are the ids of the prerequisite of course Mobile Computing?" is SELECT T1.prereq_id FROM prereq AS T1 JOIN course AS T2 ON T1.course_id  =  T2.course_id WHERE T2.title  =  'Mobile Computing'
So, the answer to the question "What is the course title of the prerequisite of course Mobile Computing?" is =
Intermediate_representation: select course.title from course  where  @.@ in prereq.*  and  course.title = \"Mobile Computing\"
SQL: SELECT title FROM course WHERE course_id IN (SELECT T1.prereq_id FROM prereq AS T1 JOIN course AS T2 ON T1.course_id  =  T2.course_id WHERE T2.title  =  'Mobile Computing')

Q: "Give the title and credits for the course that is taught in the classroom with the greatest capacity."
Schema_links: [classroom.capacity,classroom.building = SECTION.building,classroom.room_number = SECTION.room_number,course.title,course.credits,course.course_id = SECTION.course_id]
A: Let's think step by step. "Give the title and credits for the course that is taught in the classroom with the greatest capacity." can be solved by knowing the answer to the following sub-question "What is the capacity of the largest room?".
The SQL query for the sub-question "What is the capacity of the largest room?" is (SELECT max(capacity) FROM classroom)
So, the answer to the question "Give the title and credits for the course that is taught in the classroom with the greatest capacity." is =
Intermediate_representation: select course.title , course.credits from classroom  order by classroom.capacity desc limit 1"
SQL: SELECT T3.title ,  T3.credits FROM classroom AS T1 JOIN SECTION AS T2 ON T1.building  =  T2.building AND T1.room_number  =  T2.room_number JOIN course AS T3 ON T2.course_id  =  T3.course_id WHERE T1.capacity  =  (SELECT max(capacity) FROM classroom)

"""
# ----------------------------------------------------------------------------------------------------------

from revChatGPT.V1 import Chatbot

config = {
    "access_token_3744": "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6Ik1UaEVOVUpHTkVNMVFURTRNMEZCTWpkQ05UZzVNRFUxUlRVd1FVSkRNRU13UmtGRVFrRXpSZyJ9.eyJodHRwczovL2FwaS5vcGVuYWkuY29tL3Byb2ZpbGUiOnsiZW1haWwiOiJhbWl0eTM3NDQwMzlAZ21haWwuY29tIiwiZW1haWxfdmVyaWZpZWQiOnRydWV9LCJodHRwczovL2FwaS5vcGVuYWkuY29tL2F1dGgiOnsidXNlcl9pZCI6InVzZXItMHRkNFF6T2N4WFl2QWo1NkJmVGdENUxjIn0sImlzcyI6Imh0dHBzOi8vYXV0aDAub3BlbmFpLmNvbS8iLCJzdWIiOiJnb29nbGUtb2F1dGgyfDEwMTI2MDUzNzY2MDA0NzY3OTY5MyIsImF1ZCI6WyJodHRwczovL2FwaS5vcGVuYWkuY29tL3YxIiwiaHR0cHM6Ly9vcGVuYWkub3BlbmFpLmF1dGgwYXBwLmNvbS91c2VyaW5mbyJdLCJpYXQiOjE2ODYwMjc3NDAsImV4cCI6MTY4NzIzNzM0MCwiYXpwIjoiVGRKSWNiZTE2V29USHROOTVueXl3aDVFNHlPbzZJdEciLCJzY29wZSI6Im9wZW5pZCBwcm9maWxlIGVtYWlsIG1vZGVsLnJlYWQgbW9kZWwucmVxdWVzdCBvcmdhbml6YXRpb24ucmVhZCBvcmdhbml6YXRpb24ud3JpdGUifQ.mOmJYnC9ES_o4qa07JAEAJ9JsYQE3Xqj6ZfuEdobMECBLvm3EzqvZlaMBi0l04NdzvwA_t04Tn1oylVIKhjBkqf8DMdmktT4qxXOba6fWBHRim5B99d7p_8G_STK_1HmX42BHP8C1vxBfwfq5qFb4l1KNpxnHhExfW91-GjiZ-vdqEi33nhQ4QtrmYVDtXDLClfVueyb3Cmsvi2_8_HUPMykf14uCjrneLPukDSFmtszIsFktc0avTINgk8VCdCvTR3k7e7Qe52FePJ-LpC56xitkyL5j1WZ0Qa6xWqcwQ0u1rTFaNNCA6YK60Nj19pJnsEqVnMgIKWtqYsda4KjRg",
    "access_token_vic": "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6Ik1UaEVOVUpHTkVNMVFURTRNMEZCTWpkQ05UZzVNRFUxUlRVd1FVSkRNRU13UmtGRVFrRXpSZyJ9.eyJodHRwczovL2FwaS5vcGVuYWkuY29tL3Byb2ZpbGUiOnsiZW1haWwiOiJ2aWM4MjQxN0BnbWFpbC5jb20iLCJlbWFpbF92ZXJpZmllZCI6dHJ1ZX0sImh0dHBzOi8vYXBpLm9wZW5haS5jb20vYXV0aCI6eyJ1c2VyX2lkIjoidXNlci1BeFluR1R0WFdzS2xpalVZNGlXMGdBWDkifSwiaXNzIjoiaHR0cHM6Ly9hdXRoMC5vcGVuYWkuY29tLyIsInN1YiI6ImF1dGgwfDY0Nzc2Njc1NTIwZTgyZDlmZDU3NDczNCIsImF1ZCI6WyJodHRwczovL2FwaS5vcGVuYWkuY29tL3YxIiwiaHR0cHM6Ly9vcGVuYWkub3BlbmFpLmF1dGgwYXBwLmNvbS91c2VyaW5mbyJdLCJpYXQiOjE2ODYwMjc1NDksImV4cCI6MTY4NzIzNzE0OSwiYXpwIjoiVGRKSWNiZTE2V29USHROOTVueXl3aDVFNHlPbzZJdEciLCJzY29wZSI6Im9wZW5pZCBwcm9maWxlIGVtYWlsIG1vZGVsLnJlYWQgbW9kZWwucmVxdWVzdCBvcmdhbml6YXRpb24ucmVhZCBvcmdhbml6YXRpb24ud3JpdGUifQ.TVrcf05bt1IlRZwy2PrsmiRefSfysmSchsp94TifjYilDYgqS1ENXiA_Wa3ZDkxP0CYgX5WGC0j_wLltMbHfqMUMyqbVV0OkVDRfwCaj8XRE-m-Lso0gTwUzCHmkvlrQLdTcxGAVCejtZyV_68uKAV7oTyWAM5hiuH7Us8TJcVhyTysZYKk_oWSlT6Vi2EWA0nVdGS-1lCGd9WV1PSkB5lOdFURDoAvLvVXQVZ_CoG38_CQUZyFrvTf0FkUMdT-uYbgt6n9OE3To-5vYoEPlVtoFbF2irVgvkdbdjAlZFDdEkoT9hv77Z55QZs9xo_zr2FMOV5mEEdKIY8Jmnf08pg",
    "access_token_lab": "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6Ik1UaEVOVUpHTkVNMVFURTRNMEZCTWpkQ05UZzVNRFUxUlRVd1FVSkRNRU13UmtGRVFrRXpSZyJ9.eyJodHRwczovL2FwaS5vcGVuYWkuY29tL3Byb2ZpbGUiOnsiZW1haWwiOiJja2xhYi5udHVAZ21haWwuY29tIiwiZW1haWxfdmVyaWZpZWQiOnRydWV9LCJodHRwczovL2FwaS5vcGVuYWkuY29tL2F1dGgiOnsidXNlcl9pZCI6InVzZXItUU1RejRNcm5MbHYwcUxUVXJ6NE5tM0VYIn0sImlzcyI6Imh0dHBzOi8vYXV0aDAub3BlbmFpLmNvbS8iLCJzdWIiOiJhdXRoMHw2NDYzMjFiNjY4MDMyYmYyODg4MzBlYzMiLCJhdWQiOlsiaHR0cHM6Ly9hcGkub3BlbmFpLmNvbS92MSIsImh0dHBzOi8vb3BlbmFpLm9wZW5haS5hdXRoMGFwcC5jb20vdXNlcmluZm8iXSwiaWF0IjoxNjg1NDU4MjQ3LCJleHAiOjE2ODY2Njc4NDcsImF6cCI6IlRkSkljYmUxNldvVEh0Tjk1bnl5d2g1RTR5T282SXRHIiwic2NvcGUiOiJvcGVuaWQgcHJvZmlsZSBlbWFpbCBtb2RlbC5yZWFkIG1vZGVsLnJlcXVlc3Qgb3JnYW5pemF0aW9uLnJlYWQgb3JnYW5pemF0aW9uLndyaXRlIn0.cABY08HZ0G9RRsfxT49ktOVoWVDyvWT3wVkW4ho6L8pRhymeCagyFMyIf2d583tiv1r4oD2FWqyKbgDALAx5cVj_L4-_pIWrxZfC0KNqsJwPdYEV0QO6uxEcPsmRZX7b8IYFjSSNo6OsAX8X1fsVW4LxSIybZ5TE6xrMdSkFH6Ib4vPkKTSXIUeWB9O021daN8eBaekZk1slfRTyZ7ew5iHST-x466GdUvV0ZsHmaqcU9_UFpDG3KCLLTSR4juEtao7YKeZnwRNhsLGe_5Obe-lveRnx3DR88m1ehCBLwPH-Kzs4lqiVmjxXzTOjIY1gQoNp3InuxtGdowuArwsB6w",
    "access_token_charlie": "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6Ik1UaEVOVUpHTkVNMVFURTRNMEZCTWpkQ05UZzVNRFUxUlRVd1FVSkRNRU13UmtGRVFrRXpSZyJ9.eyJodHRwczovL2FwaS5vcGVuYWkuY29tL3Byb2ZpbGUiOnsiZW1haWwiOiJjaGFybGllc21haWwyMDIyMTAzMEBnbWFpbC5jb20iLCJlbWFpbF92ZXJpZmllZCI6dHJ1ZX0sImh0dHBzOi8vYXBpLm9wZW5haS5jb20vYXV0aCI6eyJ1c2VyX2lkIjoidXNlci1RdDJZcmxoOEdYWmZnRDg1bVpGc0VPS1YifSwiaXNzIjoiaHR0cHM6Ly9hdXRoMC5vcGVuYWkuY29tLyIsInN1YiI6Imdvb2dsZS1vYXV0aDJ8MTE1MTk4MTc4NDQ5ODY3MTc4MzY1IiwiYXVkIjpbImh0dHBzOi8vYXBpLm9wZW5haS5jb20vdjEiLCJodHRwczovL29wZW5haS5vcGVuYWkuYXV0aDBhcHAuY29tL3VzZXJpbmZvIl0sImlhdCI6MTY4NTkzMDUyMCwiZXhwIjoxNjg3MTQwMTIwLCJhenAiOiJUZEpJY2JlMTZXb1RIdE45NW55eXdoNUU0eU9vNkl0RyIsInNjb3BlIjoib3BlbmlkIHByb2ZpbGUgZW1haWwgbW9kZWwucmVhZCBtb2RlbC5yZXF1ZXN0IG9yZ2FuaXphdGlvbi5yZWFkIG9yZ2FuaXphdGlvbi53cml0ZSJ9.T6BrKyLnQ1PnwpFI4Of5JnikJ1vgivsn7tF-PJUb2OMjmdaFNpMxouImCUGsEChGxOG0jEOpvEB6Bia-xYx5AuqlUsTKnHDvCLWhurzCzoRmfyKUa9wTNSD-uHLCyqny0UrjO-3mN29xY_zlgbAqUpHNZvy8HES2UzUCL-tVkYhC8Q03kEEGbSaiM-gemimt3HeQBdvtNcisrM6ckwJDd2i-SRo7hXGrYJ0RRFJmJPUIO_Mdkclnm8id8DZVYOSJf7SNMB8STdmGTbO0cAQZp15MHDrreeONX7HOOWiky0hOHAWdz0ZZeNvA6rhcd2rnru6BRglB1OHEj1qWPxiQ9A",
    "access_token_r105": "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6Ik1UaEVOVUpHTkVNMVFURTRNMEZCTWpkQ05UZzVNRFUxUlRVd1FVSkRNRU13UmtGRVFrRXpSZyJ9.eyJodHRwczovL2FwaS5vcGVuYWkuY29tL3Byb2ZpbGUiOnsiZW1haWwiOiJyMTA1MjUwNjhAZy5udHUuZWR1LnR3IiwiZW1haWxfdmVyaWZpZWQiOnRydWV9LCJodHRwczovL2FwaS5vcGVuYWkuY29tL2F1dGgiOnsidXNlcl9pZCI6InVzZXItZW92Z2dVVmtNYzdoMEpuckZZaEZsclFvIn0sImlzcyI6Imh0dHBzOi8vYXV0aDAub3BlbmFpLmNvbS8iLCJzdWIiOiJnb29nbGUtb2F1dGgyfDEwNDU1MzcwNDYyNzE2NzE5MDI2MiIsImF1ZCI6WyJodHRwczovL2FwaS5vcGVuYWkuY29tL3YxIiwiaHR0cHM6Ly9vcGVuYWkub3BlbmFpLmF1dGgwYXBwLmNvbS91c2VyaW5mbyJdLCJpYXQiOjE2ODUzNjI5MjAsImV4cCI6MTY4NjU3MjUyMCwiYXpwIjoiVGRKSWNiZTE2V29USHROOTVueXl3aDVFNHlPbzZJdEciLCJzY29wZSI6Im9wZW5pZCBwcm9maWxlIGVtYWlsIG1vZGVsLnJlYWQgbW9kZWwucmVxdWVzdCBvcmdhbml6YXRpb24ucmVhZCBvcmdhbml6YXRpb24ud3JpdGUifQ.Nxt70ggddenEbnuwFiyhIq1EccwIPduJMAUbhn_pW0pqVFV1e5UMZSVnnABnGzIQOmKGvxM_EKIYFRgzxLREdX4hmoCV9mXahDNEXwupQS_2qQ-p6hbohV6Cpnwnvr8pgv25izGOrKkKpM1tnIac5C_WNXwrlnn5cbe8waeAceE5HLq7dKxWV7rCvxKE_uRXH1Svpf90WFKFRdUedos0VkXuksVVRc3GyMqQ8BRbtVvnIq8KvJeIuhlYrUajqr5VaTde0tjql_MVQrh81hLfO6-AfdErqy97uqK4hSHkjoi6rfFtXd554bZwDMiFjqkYm7eRJrhbwV46Ydyv8FhazA",
    "access_token_vic_yy": "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6Ik1UaEVOVUpHTkVNMVFURTRNMEZCTWpkQ05UZzVNRFUxUlRVd1FVSkRNRU13UmtGRVFrRXpSZyJ9.eyJodHRwczovL2FwaS5vcGVuYWkuY29tL3Byb2ZpbGUiOnsiZW1haWwiOiJ5eWM4NzkzMEBnbWFpbC5jb20iLCJlbWFpbF92ZXJpZmllZCI6dHJ1ZX0sImh0dHBzOi8vYXBpLm9wZW5haS5jb20vYXV0aCI6eyJ1c2VyX2lkIjoidXNlci16YXRjT2wzU1B5RWZxeHVrR1FUOFRZOVUifSwiaXNzIjoiaHR0cHM6Ly9hdXRoMC5vcGVuYWkuY29tLyIsInN1YiI6ImF1dGgwfDY0N2M5N2E2MzBjNmI2OTBhOTA1ODA4YyIsImF1ZCI6WyJodHRwczovL2FwaS5vcGVuYWkuY29tL3YxIiwiaHR0cHM6Ly9vcGVuYWkub3BlbmFpLmF1dGgwYXBwLmNvbS91c2VyaW5mbyJdLCJpYXQiOjE2ODU4ODczNjAsImV4cCI6MTY4NzA5Njk2MCwiYXpwIjoiVGRKSWNiZTE2V29USHROOTVueXl3aDVFNHlPbzZJdEciLCJzY29wZSI6Im9wZW5pZCBwcm9maWxlIGVtYWlsIG1vZGVsLnJlYWQgbW9kZWwucmVxdWVzdCBvcmdhbml6YXRpb24ucmVhZCBvcmdhbml6YXRpb24ud3JpdGUifQ.w6pTh5gKcBZIi4K3FnPu-o4acjP_F8fLwhwTGlAPbweSqxJOXRn8UrLGdlzBEKzS0722wniLfOKFRQn-ZJLV--smGvyYxW1zhj3YLSK2xMDCcZVE1Q0QQoIgLt96wsTZ6dykfXm3ClvLfAtk9nxw1XcqBRhZtvsvLPIzfLGU3a0_ihe1amLYb5A5J4t6EbNaXvjWIHR0IB7sAyPQuNvhwqEZxBPZJtL07-7VwO7Eb7pLAfR1otAUwcEAu1xxLpdHLTbL1Iep2B-kHPqbKnWRjyH5UF_NADvxwHZWDKUAnoQrJlr7iOPt91FpCdkBwqJb0gk3FPeGFlJgvlRUd61LHA",
    "access_token_tony": "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6Ik1UaEVOVUpHTkVNMVFURTRNMEZCTWpkQ05UZzVNRFUxUlRVd1FVSkRNRU13UmtGRVFrRXpSZyJ9.eyJodHRwczovL2FwaS5vcGVuYWkuY29tL3Byb2ZpbGUiOnsiZW1haWwiOiJ0b255bGluNTE2MEBnbWFpbC5jb20iLCJlbWFpbF92ZXJpZmllZCI6dHJ1ZX0sImh0dHBzOi8vYXBpLm9wZW5haS5jb20vYXV0aCI6eyJ1c2VyX2lkIjoidXNlci1hUmFQWDRBWHd4Uk85WjdZS1B4dEUxajkifSwiaXNzIjoiaHR0cHM6Ly9hdXRoMC5vcGVuYWkuY29tLyIsInN1YiI6ImF1dGgwfDY0N2U4NTIyMjIwZDEwNWI4ZWIwNWIyNyIsImF1ZCI6WyJodHRwczovL2FwaS5vcGVuYWkuY29tL3YxIiwiaHR0cHM6Ly9vcGVuYWkub3BlbmFpLmF1dGgwYXBwLmNvbS91c2VyaW5mbyJdLCJpYXQiOjE2ODYwMTM0MzYsImV4cCI6MTY4NzIyMzAzNiwiYXpwIjoiVGRKSWNiZTE2V29USHROOTVueXl3aDVFNHlPbzZJdEciLCJzY29wZSI6Im9wZW5pZCBwcm9maWxlIGVtYWlsIG1vZGVsLnJlYWQgbW9kZWwucmVxdWVzdCBvcmdhbml6YXRpb24ucmVhZCBvcmdhbml6YXRpb24ud3JpdGUifQ.sbIkcYc08i34VP1g0l7VcUieOozJQyoWdUO8f7o6RtGVf5wVt2WOiWDrS6gM3hzn4s3RhynskE8UOHygkoGPZyM_UCAWBM0g-VwK8jL3gap7nBPRI32XBDpvSLHaFGnC5d9SgwY54VZeGxOs93jhPGET7xGmKbdpRDMqrFaBBRC4_uldLOg0rs4WSvL-Gxm86IC4pwS3_I2UCoJ4_mdM-N91PNNVDILFBXGheHNdNeP_4Dpn5XMdutu3Ofd3IOcH_KmBTDQaJfWBJ9CZ16HdWFQE_SgbbL0NzGC6XpupfCyGHZWGgt4G4c_mGPGdQ0UKZY4Q49G_M5QByZKixMx8-w",
    "model": "text-davinci-002-render-sha",
    # "model": "gpt-4",
}

import pandas as pd
import time
import os
import sys
import random

tmp_config = {"dateset": "./data/", "output": "predicted_sql.txt"}
# if sys.argv[1] == "--dataset" and sys.argv[3] == "--output":
DATASET_SCHEMA = tmp_config["dateset"] + "tables.json"
DATASET = tmp_config["dateset"] + "dev.json"
OUTPUT_FILE = tmp_config["output"]
SCHEMA_LINK_PATH = "my_result/origin/2/din_sql_record_schema_link.txt"
# else:
#     raise Exception("Please use this format python CoT.py --dataset data/ --output predicted_sql.txt")

charlie_count = 0


def load_schema_link_list(file_path):
  with open(file_path, 'r') as f:
    return [line.strip() for line in f]

def get_pay_chatbot(index):
    # print('pay index: ', index)
    pay_count = 4
    name = ""
    if index % pay_count == 0:
        name = "access_token_vic"
    elif index % pay_count == 1:
        name = "access_token_vic"
    elif index % pay_count == 2:
        name = "access_token_lab"
    elif index % pay_count == 3:
        rand_int = random.randrange(5)
        # 為了讓這隻帳號不要被跑太多次
        if rand_int == 0:
            name = "access_token_lab"
        elif rand_int == 1:
            name = "access_token_lab"
        elif rand_int == 2:
            name = "access_token_vic"
        elif rand_int == 3:
            name = "access_token_charlie"

    print(f"pay name: {name}, index: {index}", end="\r", flush=True)
    chatbot = Chatbot(config={"access_token": config[name]})
    return chatbot


def get_free_chatbot(index):
    # print('free index: ', index)
    free_count = 3
    name = ""
    if index % free_count == 0:
        name = "access_token_r105"
    elif index % free_count == 1:
        name = "access_token_vic_yy"
    elif index % free_count == 2:
        name = "access_token_tony"
    print(f"free name: {name}, index: {index}", end="\r", flush=True)
    chatbot = Chatbot(config={"access_token": config[name]})
    return chatbot


def load_data(DATASET):
    return pd.read_json(DATASET)


def classification_prompt_maker(test_sample_text, database, schema_links):
    instruction = "# For the given question, classify it as EASY, NON-NESTED, or NESTED based on nested queries and JOIN.\n"
    instruction += "\nif need nested queries: predict NESTED\n"
    instruction += "elif need JOIN and don't need nested queries: predict NON-NESTED\n"
    instruction += (
        "elif don't need JOIN and don't need nested queries: predict EASY\n\n"
    )
    fields = find_fields_MYSQL_like("college_2")
    fields += "Foreign_keys = " + find_foreign_keys_MYSQL_like("college_2") + "\n"
    fields += find_fields_MYSQL_like(database)
    fields += "Foreign_keys = " + find_foreign_keys_MYSQL_like(database) + "\n"
    fields += "\n"
    prompt = (
        instruction
        + fields
        + new_classification_prompt
        + 'Q: "'
        + test_sample_text
        + "\nschema_links: "
        + schema_links
        + "\nA: Let’s think step by step."
    )
    return prompt


def new_classification_prompt_maker(test_sample_text, database, schema_links):
    instruction = "# For the given question, classify it as EASY, NON-NESTED, or NESTED based on nested queries and multiple tables.\n"
    instruction += "\nif match nested queries: predict NESTED\n"
    instruction += "elif match multiple tables and don't match nested queries: predict NON-NESTED\n"
    instruction += "elif don't match multiple tables and don't match nested queries: predict EASY\n\n"
    fields = find_fields_MYSQL_like("college_2")
    fields += "Foreign_keys = " + find_foreign_keys_MYSQL_like("college_2") + "\n"
    fields += find_fields_MYSQL_like(database)
    fields += "Foreign_keys = " + find_foreign_keys_MYSQL_like(database) + "\n"
    fields += "\n"
    prompt = (
        instruction
        + fields
        + new2_classification_prompt
        + 'Q: "'
        + test_sample_text
        + "\nschema_links: "
        + schema_links
        + "\nA: Let’s think step by step."
    )
    return prompt

def new3_classification_prompt_maker(test_sample_text, database, schema_links):
    instruction = "# For the given question, classify it as EASY or COMPLEX based on number of tables.\n"
    instruction += "\nif match 1 table: predict EASY\n"
    instruction += "else: predict COMPLEX\n\n"
    fields = find_fields_MYSQL_like("college_2")
    fields += "Foreign_keys = " + find_foreign_keys_MYSQL_like("college_2") + "\n"
    fields += find_fields_MYSQL_like(database)
    fields += "Foreign_keys = " + find_foreign_keys_MYSQL_like(database) + "\n"
    fields += "\n"
    prompt = (
        instruction
        + fields
        + new3_classification_prompt
        + 'Q: "'
        + test_sample_text
        + "\nschema_links: "
        + schema_links
        + "\nA: Let’s think step by step."
    )
    return prompt


def schema_linking_prompt_maker(test_sample_text, database):
    instruction = "# Find the schema_links for generating SQL queries for each question based on the database schema and Foreign keys.\n"
    fields = find_fields_MYSQL_like(database)
    foreign_keys = "Foreign_keys = " + find_foreign_keys_MYSQL_like(database) + "\n"
    prompt = (
        instruction
        + schema_linking_prompt
        + fields
        + foreign_keys
        + 'Q: "'
        + test_sample_text
        + """"\nA: Let’s think step by step."""
    )
    return prompt


def find_foreign_keys_MYSQL_like(db_name):
    df = spider_foreign[spider_foreign["Database name"] == db_name]
    output = "["
    for index, row in df.iterrows():
        output += (
            row["First Table Name"]
            + "."
            + row["First Table Foreign Key"]
            + " = "
            + row["Second Table Name"]
            + "."
            + row["Second Table Foreign Key"]
            + ","
        )
    output = output[:-1] + "]"
    return output


def find_fields_MYSQL_like(db_name):
    df = spider_schema[spider_schema["Database name"] == db_name]
    df = df.groupby(" Table Name")
    output = ""
    for name, group in df:
        output += "Table " + name + ", columns = ["
        for index, row in group.iterrows():
            output += row[" Field Name"] + ","
        output = output[:-1]
        output += "]\n"
    return output


def find_primary_keys_MYSQL_like(db_name):
    df = spider_primary[spider_primary["Database name"] == db_name]
    output = "["
    for index, row in df.iterrows():
        output += row["Table Name"] + "." + row["Primary Key"] + ","
    output = output[:-1]
    output += "]\n"
    return output


def creatiing_schema(DATASET_JSON):
    schema_df = pd.read_json(DATASET_JSON)
    schema_df = schema_df.drop(["column_names", "table_names"], axis=1)
    schema = []
    f_keys = []
    p_keys = []
    for index, row in schema_df.iterrows():
        tables = row["table_names_original"]
        col_names = row["column_names_original"]
        col_types = row["column_types"]
        foreign_keys = row["foreign_keys"]
        primary_keys = row["primary_keys"]
        for col, col_type in zip(col_names, col_types):
            index, col_name = col
            if index == -1:
                for table in tables:
                    schema.append([row["db_id"], table, "*", "text"])
            else:
                schema.append([row["db_id"], tables[index], col_name, col_type])
        for primary_key in primary_keys:
            index, column = col_names[primary_key]
            p_keys.append([row["db_id"], tables[index], column])
        for foreign_key in foreign_keys:
            first, second = foreign_key
            first_index, first_column = col_names[first]
            second_index, second_column = col_names[second]
            f_keys.append(
                [
                    row["db_id"],
                    tables[first_index],
                    tables[second_index],
                    first_column,
                    second_column,
                ]
            )
    spider_schema = pd.DataFrame(
        schema, columns=["Database name", " Table Name", " Field Name", " Type"]
    )
    spider_primary = pd.DataFrame(
        p_keys, columns=["Database name", "Table Name", "Primary Key"]
    )
    spider_foreign = pd.DataFrame(
        f_keys,
        columns=[
            "Database name",
            "First Table Name",
            "Second Table Name",
            "First Table Foreign Key",
            "Second Table Foreign Key",
        ],
    )
    return spider_schema, spider_primary, spider_foreign


def debuger(test_sample_text, database, sql):
    instruction = """#### For the given question, use the provided tables, columns, foreign keys, and primary keys to fix the given SQLite SQL QUERY for any issues. If there are any problems, fix them. If there are no issues, return the SQLite SQL QUERY as is.
#### Use the following instructions for fixing the SQL QUERY:
1) Use the database values that are explicitly mentioned in the question.
2) Pay attention to the columns that are used for the JOIN by using the Foreign_keys.
3) Use DESC and DISTINCT when needed.
4) Pay attention to the columns that are used for the GROUP BY statement.
5) Pay attention to the columns that are used for the SELECT statement.
6) Only change the GROUP BY clause when necessary (Avoid redundant columns in GROUP BY).
7) Use GROUP BY on one column only.

"""
    fields = find_fields_MYSQL_like(database)
    fields += "Foreign_keys = " + find_foreign_keys_MYSQL_like(database) + "\n"
    fields += "Primary_keys = " + find_primary_keys_MYSQL_like(database)
    prompt = (
        instruction
        + fields
        + "#### Question: "
        + test_sample_text
        + "\n#### SQLite SQL QUERY\n"
        + sql
        + "\n#### SQLite FIXED SQL QUERY\nSELECT"
    )
    return prompt


def GPT4_generation(chatbot, prompt):
    for data in chatbot.ask(prompt, conversation_id=None, parent_id=None):
        response = data["message"]
    GPT4_clear_conversations(chatbot)
    return response


def GPT4_debug(chatbot, prompt, model="text-davinci-002-render-sha"):
    for data in chatbot.ask(prompt, conversation_id=None, parent_id=None, model=model):
        response = data["message"]
    GPT4_clear_conversations(chatbot)
    return response


def GPT4_clear_conversations(chatbot):
    chatbot.clear_conversations()

In [ ]:

spider_schema, spider_primary, spider_foreign = creatiing_schema(DATASET_SCHEMA)
val_df = load_data(DATASET)
schema_link_info_list = load_schema_link_list(SCHEMA_LINK_PATH)
crt_time = time.strftime("%m-%d-%H:%M:%S", time.localtime())
print(f"Number of data samples {val_df.shape[0]}")
start_index = 40
end_index = 50
pay_index = 0
free_index = 0
# time.sleep(18000) #三小時
# time.sleep(7200)
with open(
    f"din_sql_classification_two_label_record-{start_index}-{end_index}-{crt_time}.log", "w"
) as record:
    # with open(f'reverse_sql_norm_record-{start_index}-{end_index}-{crt_time}.log', 'w') as record, open(f'reverse_sql_norm_predicted_sql-{start_index}-{end_index}-{crt_time}.log', 'w') as predicted:
    CODEX = []
    for ((index, row), schema_links) in zip(val_df.iterrows(), schema_link_info_list):
        if index < start_index:
            continue  # for testing
        print("index:", index)
        # if index < 10: continue #for testing
        record.write(f"\nindex is {index}" + "\n")
        record.write(row["query"] + "\n")
        record.write(row["question"] + "\n")
        record.write("schema_links:" + "\n")
        record.write(schema_links + "\n")
        print("run classification ...", flush=True)
        classification = None
        while classification is None:
            try:
                classification = GPT4_generation(
                    get_pay_chatbot(pay_index),
                    new3_classification_prompt_maker(
                        row["question"], row["db_id"], schema_links[1:]
                    ),
                )
                pay_index += 1
            except:
                pay_index += 1
                time.sleep(3)
                pass
        try:
            predicted_class = classification.split("Label: ")[1]
        except:
            record.write("Slicing error for the classification module" + "\n")
            predicted_class = '"COMPLEX"'
            # predicted_class = '"NESTED"'
        record.write("classification:" + "\n")
        record.write(classification + "\n")
        if index == end_index: break

In [8]:
import json

dev_schema_link_path = '/home/r10525068/RESDSQL/data/preprocessed_data/resdsql_dev_natsql.json'
dev_natsql_path = '/home/r10525068/RESDSQL/data/preprocessed_data/dev_with_probs_natsql.json'

with open(dev_schema_link_path, 'r') as schema_link_file:
    schema_link_info_list = json.loads(schema_link_file.read())

with open(dev_natsql_path, 'r') as natsql_file:
    natsql_info_list = json.loads(natsql_file.read())

In [7]:
len(schema_link_info_list)

1034

In [9]:
file_path = 'my_result/origin/2/resqsql'
with open(f'{file_path}/schema_link.txt', 'w') as s, open(f'{file_path}/natsql.txt', 'w') as n:
    for schema_link_info, natsql_info in zip(schema_link_info_list, natsql_info_list):
        s.write(schema_link_info['input_sequence'] + '\n')
        n.write(natsql_info['natsql_skeleton'] + '\n')

In [7]:
def resd_prompt_maker(test_sample_text, database, schema_links, natsql):
    instruction = "# Use the the schema links and natsql to generate the SQL queries for each of the questions.\n"
    # fields = find_fields_MYSQL_like("college_2")
    fields = find_fields_MYSQL_like(database)
    fields += "\n"
    prompt = (
        instruction
        + fields
        # + 'Q: "'
        # + test_sample_text
        + "\ninput: "
        + schema_links
        + "\nnatsql: "
        + natsql
        + "\nSQL: "
    )
    return prompt

In [9]:
file_path = 'my_result/origin/2/resqsql'
SCHEMA_LINK_PATH = f'{file_path}/schema_link.txt'
NATSQL_PATH = f'{file_path}/natsql.txt'

spider_schema, spider_primary, spider_foreign = creatiing_schema(DATASET_SCHEMA)
val_df = load_data(DATASET)
schema_link_info_list = load_schema_link_list(SCHEMA_LINK_PATH)
natsql_info_list = load_schema_link_list(NATSQL_PATH)
crt_time = time.strftime("%m-%d-%H:%M:%S", time.localtime())
print(f"Number of data samples {val_df.shape[0]}")
start_index = 40
end_index = 43
pay_index = 0
free_index = 0
# time.sleep(18000) #三小時
# time.sleep(7200)

with open(f'{file_path}/resd_record-{start_index}-{end_index}-{crt_time}.log', 'w') as record, open(f'{file_path}/resd_predicted_sql-{start_index}-{end_index}-{crt_time}.log', 'w') as predicted:
    CODEX = []
    for ((index, row), schema_links, natsql) in zip(val_df.iterrows(), schema_link_info_list, natsql_info_list):
        if index < start_index:
            continue  # for testing
        print("index:", index)
        # if index < 10: continue #for testing
        record.write(f"\nindex is {index}" + "\n")
        record.write(row["query"] + "\n")
        record.write(row["question"] + "\n")
        record.write("schema_links:" + "\n")
        record.write(schema_links + "\n")
        record.write("natsql:" + "\n")
        record.write(natsql + "\n")
        print("run SQL generation ...", flush=True)
        SQL = None
        while SQL is None:
            try:
                with open(f'{file_path}/prompt.txt', 'w') as p:
                    p.write(resd_prompt_maker(
                        row["question"], row["db_id"], schema_links, natsql
                    ))
                SQL = GPT4_generation(
                    get_pay_chatbot(pay_index),
                    resd_prompt_maker(
                        row["question"], row["db_id"], schema_links, natsql
                    ),
                )
                pay_index += 1
            except:
                pay_index += 1
                time.sleep(3)
                pass
        # try:
        #     SQL = SQL.split("SQL: ")[1]
        # except:
        #     record.write("SQL slicing error" + "\n")
        #     SQL = "SELECT"
        record.write("SQL generation:" + "\n")
        record.write(SQL + "\n")
        print("run self correction ...", flush=True)
        debugged_SQL = None
        while debugged_SQL is None:
            try:
                debugged_SQL = GPT4_debug(
                    get_free_chatbot(free_index),
                    debuger(row["question"], row["db_id"], SQL),
                ).replace("\n", " ")
                free_index += 1
            except:
                free_index += 1
                time.sleep(3)
                pass
        SQL = "SELECT " + debugged_SQL
        record.write("self correction:" + "\n")
        record.write(SQL + "\n")
        predicted.write(SQL + "\n")
        CODEX.append([row["question"], SQL, row["query"], row["db_id"]])
        if index == end_index: break

Number of data samples 1034
index: 40
run SQL generation ...
run self correction ...lab, index: 2
index: 41: access_token_r105, index: 0
run SQL generation ...
run self correction ...lab, index: 3
index: 42: access_token_vic_yy, index: 1
run SQL generation ...
run self correction ...lab, index: 6
index: 43: access_token_tony, index: 2
run SQL generation ...
run self correction ...lab, index: 7

'Find the number of concerts happened in the stadium with the highest capacity . | stadium : stadium.capacity , stadium.highest , stadium.stadium_id , stadium.name , stadium.lowest , stadium.* | concert : concert.stadium_id , concert.concert_id , concert.concert_name , concert.year , concert.theme , concert.* | singer : singer.name , singer.country , singer.song_name , singer.age , singer.singer_id , singer.* | singer_in_concert : singer_in_concert.concert_id , singer_in_concert.singer_id , singer_in_concert.*'

In [14]:
test = 'SELECT'
print(test !='SELECT')

False